@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", sans-serif; */

@layer base {
    body {
        font-family: "Noto Serif", serif;
        font-weight: light;
        background-color: black;
    }
    li {
        list-style-type: none;
    }
}

@layer components {
    .moviebox {
        @apply font-['Montserrat'] font-bold text-xl;
    }
}

.animate {
    animation: spin 2s ease-in-out infinite forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}