@import 'tailwindcss';

/* font-family: 'Excon', sans-serif; */

@layer base {
    body {
        font-family: 'Ranade', sans-serif;
        font-weight: light;
        background-color: black;
    }
}

@layer components {
    .moviebox {
        @apply font-['Rande'] font-bold text-xl;
    }
}

.animate {
    animation: spin 3s ease infinite forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}